@use '/src/variables' as *;

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 1rem 1rem 1rem;
  gap: 2rem;

  .top {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}


@media only screen and (max-width: $screen-sm) {
  .logo{
    width: 450px;
  }
}

