@use '/src/variables' as *;

.countries-body{
  background: $white;
  border-radius: $border-radius-regular;
  width: 70vw;
  min-height: 200px;
  height: auto;
  padding: 2.5rem;

  .back-button{
    width: 120px;
    display: grid;
    grid-template-columns: .2fr auto;
    justify-content: start;
    gap: 5px;
    font-weight: 500;

    .back-icon{
      width: 20px;
    }
  }

  .back-button:hover{
    font-weight: $font-weight-regular;
  }

  .body-container{
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .countries-container{
       max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content:space-evenly;

    }
  }
}


@media only screen and (max-width: $screen-sm) {
  .countries-body{
    width: 60vw;
  }
}

@media only screen and (min-width: $screen-xl) {
  .countries-container{
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    flex-wrap: nowrap;
  }
}
