@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300&display=swap');

@mixin non-margins-and-paddings {
  margin: 0;
  padding: 0;
}

// --COLOR PALETTE--

$white: #ffffff;
$gray-background: #f6F6F6;

// LIGHT GRAYS
$gray-input: #e4e4e4;
$gray-disable: #ceced0;
$gray-divider: #c4c4c4;
$gray-helper: #a5a8a8;

// BLUES
$light-blue-tertiarie: #c7eafd;
$blue-secondary: #00abfd;
$buttons-primary-hover: #0190d4;
$mid-blue-extra: #2a75b3;
$buttons-primary-press: #0272a8;

// DARK BLUE
$dark-blue-primary: #0f1f47;

// DARK GRAYS
$gray: #5e6165;
$buttons-secondary-hover: #47494e;
$buttons-secondary-press: #252527;
$dark-gray: #343437;
$black: #020d12;

//GREEN
$success-green: #2ac552;

// RED
$danger-red: #d83418;
$buttons-danger-hover: #b81f05;
$buttons-danger-press: #7a1200;

// YELLOW
$warning-one-yellow: #ffc84d;

// ORANGE
$warning-two-orange: #f28822;

// GRADIENT
$linear-gradient: linear-gradient(270deg, rgba(1, 171, 252, 0.0001) 0%, rgba(0, 171, 253, 0.32) 100%);
$linear-gradient-green: linear-gradient(0deg, rgba(42, 197, 82, 0.2), rgba(42, 197, 82, 0.2)), $white;
$linear-gradient-yellow: linear-gradient(0deg, rgba(255, 200, 77, 0.2), rgba(255, 200, 77, 0.2)), $white;
$linear-gradient-red: linear-gradient(0deg, rgba(216, 52, 24, 0.2), rgba(216, 52, 24, 0.2)), $white;
$linear-gradient-blue: linear-gradient(0deg, rgba(0, 171, 253, 0.2), rgba(0, 171, 253, 0.2)), $white;

// --- FONT STYLES ---

//FONT FAMILY
$font-family: 'Poppins', sans-serif;
$font-family-body: 'Montserrat', sans-serif;

//FONT SIZES
$font-size-small: 12px;
$font-size-body: 14px;
$font-size-subtitle: 18px;
$font-size-title: 24px;

//FONT WEIGHT
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


//---OTHER STYLES---

//BORDERS
$boder: 1.7px solid $gray-disable;
$border-radius-regular: 16px;
$border-radius-large: 20px;

// SCREEN WIDTH
$screen-xs: 480px;
$screen-sm: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

// ALIGNMENT
  $center:center;
